@import "tailwindcss";

.costum-margin-main-page{
    margin-left: calc(50vw - var(--layout) / 2 + var(--sidebar));
    margin-right: calc(50vw - var(--layout) / 2);
}

@media (max-width: 1482px) {
    .costum-margin-main-page{
        margin-left: calc(var(--sidebar) + 22px);
        margin-right: unset;
    }
}
