<div class="h-full pt-[64px]">
    <div class="mx-auto max-w-[900px]">
        <div class="costum-space-class flex flex-col gap-[56px] [&_hr]:bg-border-gray [&_hr]:dark:bg-border-gray-dm">
            <app-section-hero sectionid="about" (height)="handleHeight($event)" ></app-section-hero>
            <hr class="w-[100%] h-[2px] border-0">
            <app-section-project sectionid="project" (height)="handleHeight($event)"></app-section-project>
            <hr class="w-[100%] h-[2px] border-0">
            <app-section-skills sectionid="skill" (height)="handleHeight($event)"></app-section-skills>
            <hr class="w-[100%] h-[2px] border-0">
            <app-section-contact-me sectionid="contact" (height)="handleHeight($event)"></app-section-contact-me>
        </div>
    </div>
</div>