<div class="h-screen pt-[64px]">
    <div class="mx-auto max-w-[900px]">
        <div class="costum-space-class flex flex-col gap-[56px]">
            <app-section-hero></app-section-hero>
            <hr class="w-[100%] h-px border-0 bg-border-gray">
            <app-section-project></app-section-project>
            <hr class="w-[100%] h-px border-0 bg-border-gray">
            <app-section-skills></app-section-skills>
            <hr class="w-[100%] h-px border-0 bg-border-gray">
            <app-section-contact-me></app-section-contact-me>
        </div>
    </div>
</div>