<div class="flex flex-col">
   <span
      class="text-left text-[38px] mb-[64px] dark:text-white max-[540px]:text-[28px] max-[520px]:mb-[38px]">Impressum</span>
   <div class="flex flex-col gap-6 [&_span]:text-text-gray [&_span]:dark:text-white">
      <span>anton-ivkin.de</span>
      <div class="flex flex-col gap-2">
         <span>Angaben gemäß § 5 TMG:</span>
         <span>Anton Ivkin</span>
      </div>
      <span>Impressum Straße</span>
      <span>12345, Impressum Stadt</span>
      <span>E-Mail Adresse: <a class="text-green dark:text-green-dm underline">mail&#64;anton-ivkin.de</a></span>
      <div class="flex flex-col gap-2">
         <span>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</span>
         <span>Max Mustermann, Musterstraße 1, 12345 Musterstadt</span>
      </div>
   </div>
</div>