<section class="flex flex-col ">
    <span class="text-left text-[38px] mb-[48px] dark:text-white">Skills</span>
    <div class="flex flex-col gap-[88px]">
        <div class="flex w-[100%] justify-evenly flex-col gap-[48px] ">
            <app-skill-icons-marquee></app-skill-icons-marquee>
            @if(this.currentLang === "de"){
            <article
                class="text-text-gray dark:text-white text-xl [&_i]:font-semibold [&_i]:not-italic [&_a]:text-green [&_a]:dark:text-green-dm [&_a]:font-semibold [&_a]:hover:underline"
                [innerHTML]="texts.de.skill">
            </article>
            }

            @if(this.currentLang === "en"){
            <article
                class="text-text-gray dark:text-white text-xl [&_i]:font-semibold [&_i]:not-italic [&_a]:text-green [&_a]:dark:text-green-dm [&_a]:font-semibold [&_a]:hover:underline"
                [innerHTML]="texts.en.skill">
            </article>
            }

        </div>
    </div>
</section>