<section class="flex flex-col ">
    <span class="text-left text-[38px] mb-[48px]">Skills</span>
    <div class="flex flex-col gap-[88px]">
        <div class="flex w-[100%] justify-evenly flex-row gap-[48px] ">
            <span class="w-[50%] text-xl text-text-gray">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet,
            </span>
            <div class="w-[50%] aspect-square flex flex-col justify-center">
                <app-skill-icons-rotate></app-skill-icons-rotate>
            </div>
        </div>
    </div>
</section>