<section class="flex flex-col ">
    <span class="text-left text-[38px] mb-[48px] dark:text-white">Skills</span>
    <div class="flex flex-col gap-[88px]">
        <div class="flex w-[100%] justify-evenly flex-col gap-[48px] ">
            <app-skill-icons-marquee></app-skill-icons-marquee>
            <article
                class="text-text-gray dark:text-white text-xl [&_i]:font-semibold [&_i]:not-italic [&_a]:text-green [&_a]:dark:text-green-dm [&_a]:font-semibold [&_a]:hover:underline">
                Meine Weiterbildung (seit 2023) an der Developer Akademie verschaffte mir eine solide technologische
                Basis.
                Ich startete mit <i>HTML</i>, <i>CSS</i> und <i>JavaScript</i> (Projekt <a>Kochwelt</a>), vertiefte
                API-Anfragen (<a>PokeDex</a>), und erweiterte meine JavaScript-Fähigkeiten in <i>Datenbankabfragen</i>
                und Echtzeitdarstellungen (<a>Join</a>).
                <i>Objektorientiertes Programmieren</i> setzte ich mit dem Browserspiel <a>Yureis Wish</a> um.
                Derzeit konzentriere ich mich auf <i>Angular</i> und <i>Tailwind</i>, wobei mich das komponentenbasierte
                Programmieren wegen seiner Flexibilität besonders fasziniert, wie auch an dieser
                <a>Portfolio-Webseite</a> ersichtlich.
                <br><br>
                Die Möglichkeiten des Webbrowsers faszinieren mich: Heutzutage kann man darin umfangreiche Applikationen
                entwickeln, was viele Anwendungsbereiche und mobiles Arbeiten ermöglicht.
            </article>
        </div>
    </div>
</section>