<div class="h-screen w-[260px] costum-padding bg-side-bar-light dark:bg-side-bar-dark shadow-md">
    <div class="sidebare-wrapper w-full">
        <div
            class="h-[64px] top-0 border-b-border-gray dark:border-b-white border-b-[0.5px] flex justify-start items-center gap-2">
            <span class="text-3xl font-semibold dark:text-white">anton-ivkin.de</span><img
                class="w-[42px] h-[42px] mb-1" src="icons/website-logo.png">
        </div>
        <div id="sidebare-content-wrapper" class="mt-[48px] flex flex-col gap-[40px] laptop-height">
            <div id="sidebare-current-section"
                class="flex flex-col items-end [&_span]:font-semibold [&_span]:text-text-inactive [&_span]:dark:border-gray">
                <div id="current-section-wrapper"
                    class="flex flex-col items-start [&>div]:w-[120px] gap-[22px] [&_span]:text-[18px] [&_div]:cursor-pointer">
                    <div [ngClass]="{ 'active-dm': aboutme && darkMode(), 'active' : aboutme}">
                        <span #spans>{{ lang[this.currentLang].aboutme }}</span>
                        <div #under class="under-text"></div>
                    </div>
                    <div [ngClass]="{ 'active-dm': project && darkMode(), 'active' : project}">
                        <span #spans>{{ lang[this.currentLang].project }}</span>
                        <div #under class="under-text"></div>
                    </div>
                    <div [ngClass]="{ 'active-dm': skill && darkMode(), 'active' : skill}">
                        <span #spans>{{ lang[this.currentLang].skill }}</span>
                        <div #under class="under-text"></div>
                    </div>
                    <div [ngClass]="{ 'active-dm': contact && darkMode(), 'active' : contact}">
                        <span #spans>{{ lang[this.currentLang].contact }}</span>
                        <div #under class="under-text"></div>
                    </div>
                </div>
            </div>
            <div id="sidebare-lets-connect" class="flex flex-col items-start">
                <div class="flex flex-col items-start">
                    <span class="text-[18px] font-semibold dark:text-white">
                        @if(this.currentLang === "de"){
                        Kontaktier mich!
                        }

                        @if(this.currentLang === "en"){
                        Let's connect!
                        }
                    </span>
                    <div
                        class="[&_span]:text-green [&_span]:dark:text-green-dm flex flex-col gap-[8px] [&_span]:font-semibold pt-[16px] [&_span]:cursor-pointer [&_span]:hover:underline">

                        @if(this.currentLang === "de"){
                        <span (click)="openModualInfo('instagram')">Finde mich auf Instagram</span>
                        <span (click)="openModualInfo('mail')">Schreib eine Mail</span>
                        <span (click)="openModualInfo('discord')">Sag Hallo auf Discord 👋</span>
                        }

                        @if(this.currentLang === "en"){
                        <span (click)="openModualInfo('instagram')">Find me on Instagram</span>
                        <span (click)="openModualInfo('mail')">Write me an E-Mail</span>
                        <span (click)="openModualInfo('discord')">Say Hello on Discord 👋</span>
                        }
                    </div>
                </div>
            </div>
            <hr class="w-[90%] h-px border-0 bg-border-gray dark:bg-border-gray-dm divider-sidebare">
            <div class="projects-sidebar">
                <span class="font-semibold text-[18px] dark:text-white">
                    @if(this.currentLang === "de"){
                    Projekte
                    }

                    @if(this.currentLang === "en"){
                    Projects
                    }
                </span>
                <div id="projects-sidebar"
                    class="flex flex-col gap-[8px] pt-[16px] [&_span]:font-semibold [&_span]:text-text-gray [&_span]:dark:text-[#D3D3D3] [&_span]:hover:underline [&_span]:cursor-pointer">
                    <span>Kochwelt</span>
                    <span>PokeAPI</span>
                    <span>Join</span>
                    <span>Yurei's Wish</span>
                </div>
            </div>
        </div>
    </div>
</div>