<div class="h-screen w-[260px] costum-padding bg-side-bar-light shadow-md">
    <div class="sidebare-wrapper w-full">
        <div class="h-[64px] top-0 border-b-border-gray border-b-[0.5px] flex justify-start items-center">
            <span class="text-3xl font-semibold">anton-ivkin.de</span>
        </div>
        <div id="sidebare-content-wrapper" class="mt-[48px] flex flex-col gap-[40px]">
            <div id="sidebare-current-section"
                class="flex flex-col items-end [&_span]:font-semibold [&_span]:text-text-inactive">
                <div id="current-section-wrapper"
                    class="flex flex-col items-start [&_div]:pr-[24px] gap-[22px] [&_span]:text-[18px] [&_div]:cursor-pointer">
                    <div class="active">
                        <span>Über mich</span>
                        <div class="under-text"></div>
                    </div>
                    <div>
                        <span>Skills</span>
                        <div class="under-text"></div>
                    </div>
                    <div>
                        <span>Projekte</span>
                        <div class="under-text"></div>
                    </div>
                    <div>
                        <span>Contact me</span>
                        <div class="under-text"></div>
                    </div>
                </div>
            </div>
            <div id="sidebare-lets-connect" class="flex flex-col items-start">
                <div class="flex flex-col items-start">
                    <span class="text-[18px] font-semibold">Let's connect!</span>
                    <div class="[&_span]:text-green flex flex-col gap-[8px] [&_span]:font-semibold pt-[16px] [&_span]:cursor-pointer [&_span]:hover:underline">
                        <span>Find me on Instagram</span>
                        <span>Write me an E-Mail</span>
                        <span>Say Hello on Discord 👋</span>
                    </div>
                </div>
            </div>
            <hr class="w-[90%] h-px border-0 bg-border-gray">
            <div id="sidebare-projects">
                <span class="font-semibold text-[18px]">Projects</span>
                <div class="flex flex-col gap-[8px] pt-[16px] [&_span]:font-semibold [&_span]:text-text-gray [&_span]:hover:underline [&_span]:cursor-pointer">
                    <span>Kochwelt</span>
                    <span>PokeAPI</span>
                    <span>Join</span>
                    <span>Yurei's Wish</span>
                </div>
            </div>
        </div>
    </div>
</div>