<section class="flex flex-col">
    <div class="flex flex-col gap-[48px]">
        <div
            class="flex flex-col gap-[32px] items-center justify-center font-[Contact-Font] bg-side-bar-light dark:bg-side-bar-dark [&_span]:dark:text-white py-8 rounded-2xl text-5xl [&_a]:text-green [&_a]:dark:text-green-dm [&_span]:text-center inset-shadow-2xs shadow-2xs">

            @if(this.currentLang === "de"){
            <span>Eine Idee für ein <a>Projekt?</a></span>
            <span>Eine <a>Nachricht</a> könnte genügen.</span>
            }

            @if(this.currentLang === "en"){
            <span>A <a>project</a> to bring to life?</span>
            <span>A <a>message</a> might be enough.</span>
            }

        </div>
        <app-form [currentLang]="this.currentLang"></app-form>
    </div>
</section>