
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yurei's Wish</title>
    <link rel="icon" type="image/x-icon" href="/projects/yureis-wish/img/ui/favicon.png">
</head>

<body onload="init()">
    <div id="orientation" class="orientation">
        <div class="orientation-reminder">
            <div class="orientation-reminder-text">
                Horizontal View is not supported.
            </div>
        </div>
    </div>
    <div id="gamebox">
        <div id="game" class="game">
            <div id="impressum" class="impressum-dialog display-none">
                <div class="wrapper">
                    <h1>Impressum</h1>
                    <div class="impressum-wrapper font-34">
                        <div>Anton Ivkin<br><br>Alte Muster Straße 1<br>88888 Musterstadt</div>
                        <div>Ein Projekt von der Developer Akademie GmbH</div>
                    </div>
                </div>
                <hr>
                <div class="wrapper">
                    <h1>All Links & All Free</h1>
                    <div class="link font-34">
                        <a href="https://www.youtube.com/watch?v=PFbYfgStDQc&list=PLwJjxqYuirCLkq42mGw4XKGQlpZSfxsYd&index=16"
                            target="_blank">
                            <div class="links-wrapper">
                                <div>Intro Music</div><img width="32" height="32"
                                    src="projects/yureis-wish/img/about_assets/icons8-external-link-120.png">
                            </div>
                        </a>
                    </div>
                    <div class="link font-34">
                        <a href="https://opengameart.org/content/dying-voices-female-rpg" target="_blank">
                            <div class="links-wrapper">
                                <div>Character Death Sounds</div><img width="32" height="32"
                                    src="projects/yureis-wish/img/about_assets/icons8-external-link-120.png">
                            </div>
                        </a>
                    </div>
                    <div class="link font-34">
                        <a href="https://opengameart.org/content/female-hurt-grunts-groans" target="_blank">
                            <div class="links-wrapper">
                                <div>Character Damaged Sounds</div><img width="32" height="32"
                                    src="projects/yureis-wish/img/about_assets/icons8-external-link-120.png">
                            </div>
                        </a>
                    </div>
                    <div class="link font-34">
                        <a href="https://craftpix.net/freebies/free-ghost-pixel-art-sprite-sheets/" target="_blank">
                            <div class="links-wrapper">
                                <div>Character Assets</div><img width="32" height="32"
                                    src="projects/yureis-wish/img/about_assets/icons8-external-link-120.png">
                            </div>
                        </a>
                    </div>
                    <div class="link font-34">
                        <a href="https://craftpix.net/freebies/forest-and-trees-free-pixel-backgrounds/" target="_blank">
                            <div class="links-wrapper">
                                <div>Background Assets</div><img width="32" height="32"
                                    src="projects/yureis-wish/img/about_assets/icons8-external-link-120.png">
                            </div>
                        </a>
                    </div>
                    <div class="link font-34">
                        <a href="https://opengameart.org/content/monster-sound-pack-volume-1" target="_blank">
                            <div class="links-wrapper">
                                <div>Soul Sounds</div><img width="32" height="32"
                                    src="projects/yureis-wish/img/about_assets/icons8-external-link-120.png">
                            </div>
                        </a>
                    </div>
                    <div class="link font-34">
                        <a href="https://opengameart.org/content/library-of-game-sounds" target="_blank">
                            <div class="links-wrapper">
                                <div>More Used Sounds</div><img width="32" height="32"
                                    src="projects/yureis-wish/img/about_assets/icons8-external-link-120.png">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="control left">
                <div class="right-button" ontouchstart="touchStart('right')" ontouchend="touchEnd('right')"></div>
                <div class="left-button" ontouchstart="touchStart('left')" ontouchend="touchEnd('left')"></div>
            </div>
            <div class="icon-wrapper">
                <div onclick="toggleImpressum()" class="icon"><img src="projects/yureis-wish/img/ui/icon-top/letter-i.png"></div>
                <div onclick="mute()" class="icon"><img id="mute" src="projects/yureis-wish/img/ui/icon-top/high-volume.png"></div>
            </div>
            <canvas id="canvas" width="720" height="480"></canvas>
            <div class="control right">
                <div onclick="actionButton('shoot')" class="shoot"></div>
                <div onclick="actionButton('shockwave')" class="shockwave"></div>
            </div>
        </div>
        <div class="control-ui">
            <img src="projects/yureis-wish/img/ui/controls/right.png" alt="">
            <img src="projects/yureis-wish/img/ui/controls/left.png" alt="">
            <img src="projects/yureis-wish/img/ui/controls/shoot.png" alt="">
            <img src="projects/yureis-wish/img/ui/controls/ability.png" alt="">
            <img src="projects/yureis-wish/img/ui/controls/enter.png">
        </div>
    </div>
</body>
</html>