<section id="about" class="flex flex-col gap-[56px] max-[870px]:h-auto h-[986px] relative items-center">
    <div id="about-me-wrapper"
        class="flex flex-1/2 items-center flex-col gap-[48px] max-[380px]:gap-[38px] justify-between select-none about-me w-full h-full">

        <img class="w-[340px] max-[600px]:w-[280px] max-[420px]:w-[220px] max-[440px]:w-[240px] max-[360px]:w-[180px] max-[340px]:w-[160px] max-[600px]:hover:outline-8 aspect-square top-70 right-2 absolute max-[870px]:static outline-green outline-6 hover:outline-12 transition-[outline,shadow] cursor-pointer shadow-l/30 shadow-green hover:shadow-xl/30  rounded-full"
            src="img/hero-v2.webp" (click)="startTextAnimaton()">
            
        <div class="absolute max-[870px]:hidden top-30 right-32 w-[128px] [&_svg]:fill-green">
            <svg fill="#000000" width="128px" height="128px" viewBox="0 0 256 256" id="Flat"
                xmlns="http://www.w3.org/2000/svg" transform="rotate(45)">

                <g id="SVGRepo_bgCarrier" stroke-width="0" />

                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M228,184a4,4,0,0,1-8,0A91.99984,91.99984,0,0,0,62.94629,118.94629L37.77441,144.11816H92.11816a4,4,0,0,1,0,8h-64a4.03169,4.03169,0,0,1-.78375-.0791c-.11542-.023-.22211-.0664-.33368-.09863a2.339,2.339,0,0,1-.7879-.32568c-.10455-.05713-.21307-.103-.31323-.16993a4.026,4.026,0,0,1-1.10834-1.10888c-.06494-.09717-.10931-.20264-.16486-.30371a3.972,3.972,0,0,1-.20221-.38428,3.9069,3.9069,0,0,1-.12646-.40723c-.03333-.11328-.07721-.22168-.10053-.33935a4.01022,4.01022,0,0,1-.079-.78321v-64a4,4,0,0,1,8,0v54.34375L57.29,113.29A100,100,0,0,1,228,184Z" />
                </g>

            </svg>
        </div>
        <div
            class="flex items-center left-2 absolute max-[870px]:static flex-col justify-center dark:text-white text-text-gray ">

            @if(this.currentLang === "de"){
            <div class="flex flex-row" appHeroAnimation #herotext>"Hi, ich bin Anton</div>
            <div class="flex flex-row" appHeroAnimation #herotext>und ein Frontend</div>
            <div class="flex flex-row" appHeroAnimation #herotext>Entwickler!"</div>
            }

            @if(this.currentLang === "en"){
            <div class="flex flex-row" appHeroAnimation #herotext>"Hi, I'm Anton and</div>
            <div class="flex flex-row" appHeroAnimation #herotext>I do Frontend</div>
            <div class="flex flex-row" appHeroAnimation #herotext>Development!"</div>
            }
        </div>
        <div class="flex flex-row justify-start items-start w-full mx-auto">
            <div
                class="flex flex-col [&_div]:rounded-xl gap-[12px] [&_div]:pr-2 [&_div]:h-[128px] max-[410px]:[&_div]:h-[98px] [&_div]:shadow-2xs [&_div]:transition-[width] [&_div]:duration-280 [&_div]:bg-side-bar-light [&_div]:dark:bg-side-bar-dark absolute top-88 left-0 max-[870px]:static">
                <div #shortinfocontainer
                    class="bg-side-bar-light flex w-[148px] flex-row items-center group max-[500px]:max-w-[310px] max-[410px]:max-w-[280px] max-[360px]:max-w-[260px] max-[340px]:max-w-[240px]"
                    (mouseover)="showText(this.location, 0, 368)">
                    <div
                        class="flex flex-row justify-start items-center gap-2 pl-5 max-[410px]:[&_svg]:w-[48px] [&_svg]:aspect-square">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            width="74" height="74" viewBox="0 0 256 256" xml:space="preserve"
                            class="[&_path]:dark:fill-green-dm [&_path]:fill-green">
                            <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                                transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                                <path
                                    d="M 45 90 c -0.354 0 -0.681 -0.187 -0.861 -0.491 l -4.712 -7.972 C 30.222 65.976 20.704 49.884 17.64 43.734 c -2.033 -4.169 -3.062 -8.646 -3.062 -13.313 C 14.578 13.647 28.225 0 45 0 c 16.774 0 30.422 13.647 30.422 30.422 c 0 4.664 -1.028 9.141 -3.056 13.305 c -0.012 0.023 -0.023 0.045 -0.036 0.067 c -3.095 6.193 -12.581 22.231 -21.757 37.743 l -4.712 7.972 C 45.681 89.813 45.354 90 45 90 z M 45 2 C 29.328 2 16.578 14.75 16.578 30.422 c 0 4.359 0.96 8.542 2.854 12.43 c 3.027 6.073 12.522 22.126 21.705 37.649 L 45 87.035 l 3.853 -6.517 c 9.187 -15.531 18.686 -31.591 21.717 -37.676 c 0.009 -0.017 0.018 -0.033 0.026 -0.049 c 1.875 -3.874 2.826 -8.036 2.826 -12.372 C 73.422 14.75 60.672 2 45 2 z"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                <path
                                    d="M 45 42.436 c -7.279 0 -13.2 -5.922 -13.2 -13.201 s 5.921 -13.2 13.2 -13.2 c 7.278 0 13.2 5.921 13.2 13.2 S 52.278 42.436 45 42.436 z M 45 18.035 c -6.176 0 -11.2 5.024 -11.2 11.2 c 0 6.176 5.024 11.201 11.2 11.201 s 11.2 -5.024 11.2 -11.201 C 56.2 23.059 51.176 18.035 45 18.035 z"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                            </g>
                        </svg>
                        <svg #svg width="38" height="38" viewBox="-19.04 0 75.804 75.804"
                            xmlns="http://www.w3.org/2000/svg"
                            class="[&_path]:dark:fill-green-dm [&_path]:fill-green opacity-50 group-hover:opacity-0 transition-opacity delay-75">
                            <g id="Group_65" data-name="Group 65" transform="translate(-831.568 -384.448)">
                                <path id="Path_57" data-name="Path 57"
                                    d="M833.068,460.252a1.5,1.5,0,0,1-1.061-2.561l33.557-33.56a2.53,2.53,0,0,0,0-3.564l-33.557-33.558a1.5,1.5,0,0,1,2.122-2.121l33.556,33.558a5.53,5.53,0,0,1,0,7.807l-33.557,33.56A1.5,1.5,0,0,1,833.068,460.252Z"
                                    fill="#0c2c67" />
                            </g>
                        </svg>
                    </div>
                    <span #location
                        class="text-xl dark:text-green-dm text-green max-[490px]:text-lg max-[360px]:pl-2 max-[340px]:text-sm font-semibold pl-5 pr-2 hidden max-[360px]:text-base">{{
                        this.info_text.location[this.currentLang] }}</span>
                </div>
                <div #shortinfocontainer
                    class="bg-side-bar-light flex w-[148px] flex-row items-center group max-[500px]:max-w-[360px] max-[440px]:max-w-[320px] max-[410px]:max-w-[280px] max-[360px]:max-w-[260px] max-[340px]:max-w-[240px]"
                    (mouseover)="showText(this.code, 1, 438)">
                    <div
                        class="flex flex-row justify-start items-center gap-2 pl-5  max-[410px]:[&_svg]:w-[48px] [&_svg]:aspect-square">
                        <svg fill="#000000" width="74px" height="74px" viewBox="0 0 256 256" id="Flat"
                            xmlns="http://www.w3.org/2000/svg" class="[&_path]:dark:fill-green-dm [&_path]:fill-green">
                            <path
                                d="M66.56055,91.07324,22.24805,128l44.3125,36.92676a4.00015,4.00015,0,0,1-5.1211,6.14648l-48-40a4.00042,4.00042,0,0,1,0-6.14648l48-40a4.00015,4.00015,0,0,1,5.1211,6.14648Zm176,33.85352-48-40a4.00015,4.00015,0,0,0-5.1211,6.14648L233.752,128l-44.3125,36.92676a4.00015,4.00015,0,0,0,5.1211,6.14648l48-40a4.00042,4.00042,0,0,0,0-6.14648ZM161.36719,36.24121a3.99793,3.99793,0,0,0-5.12647,2.3916l-64,176a4.00017,4.00017,0,1,0,7.51856,2.73438l64-176A4.00015,4.00015,0,0,0,161.36719,36.24121Z" />
                        </svg>
                        <svg #svg width="38px" height="38px" viewBox="-19.04 0 75.804 75.804"
                            xmlns="http://www.w3.org/2000/svg"
                            class="[&_path]:dark:fill-green-dm [&_path]:fill-green opacity-50 group-hover:opacity-0 transition-opacity delay-75">
                            <g id="Group_65" data-name="Group 65" transform="translate(-831.568 -384.448)">
                                <path id="Path_57" data-name="Path 57"
                                    d="M833.068,460.252a1.5,1.5,0,0,1-1.061-2.561l33.557-33.56a2.53,2.53,0,0,0,0-3.564l-33.557-33.558a1.5,1.5,0,0,1,2.122-2.121l33.556,33.558a5.53,5.53,0,0,1,0,7.807l-33.557,33.56A1.5,1.5,0,0,1,833.068,460.252Z"
                                    fill="#0c2c67" />
                            </g>
                        </svg>
                    </div>
                    <span #code
                        class="text-lg font-semibold pl-5 max-[360px]:pl-2 text-left pr-2 max-[340px]:text-sm max-[440px]:text-base dark:text-green-dm text-green hidden">{{
                        this.info_text.code_info[this.currentLang] }}</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-[56px]">
            <hr class="w-[100%] h-[2px] border-0">
            <app-section-about-me></app-section-about-me>
        </div>
    </div>