@media (max-width:960px) {
    .about-me {
        flex-direction: column !important;
    }
}

@media (max-width:500px) {
    .about-me-icons {
        flex-direction: column !important;
    }
}

@media (max-width:600px) {
    .text-animation{
        font-size: 52px!important;
    }
}

@media (max-width:480px) {
    .text-animation{
        font-size: 46px!important;
    }
}

@media (max-width:440px) {
    .text-animation{
        font-size: 42px!important;
    }
}

@media (max-width:410px) {
    .text-animation{
        font-size: 36px!important;
    }
}

@media (max-width:360px) {
    .text-animation{
        font-size: 32px!important;
    }
}

.text-animation {
    display: inline-block;
    font-family: "hero";
    font-size: 64px;
    display: inline-block;
    height: fit-content;
    margin: 0;
    padding: 0;
    /* line-height: 1; */
}

.text-animation:hover {
    color: green;
    transform: translateY(-6px);
    transition: transform 75ms ease-in;
}

.text-opacity{
    animation: opacity 75ms forwards linear;
}

@keyframes opacity {
    from{
        opacity: 0;
    }

    to{
        opacity: 100;
    }
}