@media (max-width:960px) {
    .about-me {
        flex-direction: column !important;
        gap: 54px !important;
    }
}

@media (max-width:500px) {
    .about-me-icons {
        flex-direction: column !important;
    }
}



.text-animation {
    display: inline-block;
    font-family: "Anton";
    font-size: 64px;
    display: inline-block;
    height: fit-content;
    margin: 0;
    padding: 0;
    /* line-height: 1; */
}

.text-animation:hover {
    color: green;
    transform: translateY(-6px);
    transition: transform 75ms ease-in;
}