.active {
    /* background-color: #e6e6e6 !important; */
    opacity: 1 !important;
    cursor: default;
    background-color: transparent!important;
}

.active-dm {
    /* background-color: #595959!important; */
    opacity: 1 !important;
    cursor: default;
}

.animation-slide{
    transition-duration: 400ms!important;
    height: 68px;
    width: 200px;
}

@media (max-width: 640px) {
    .project-title{
        display: none;
    }

    .animation-slide{
        width: 60px;
    }
}