<div class="pt-[64px]">
    <div class="mx-auto max-w-[900px]">
        <div class="costum-space-class  flex flex-col gap-[86px] [&_hr]:bg-border-gray [&_hr]:dark:bg-border-gray-dm">
            <app-section-2025 sectionid="2025" id="2025" (height)="handleHeight($event)" class="min-h-[50vh]"></app-section-2025>
            <app-section-2024 sectionid="2024" id="2024" (height)="handleHeight($event)" class="min-h-[50vh]"></app-section-2024>
            <app-section-2023 sectionid="2023" id="2023" (height)="handleHeight($event)" class="min-h-[50vh]"></app-section-2023>
            <app-section-2022 sectionid="2022" id="2022" (height)="handleHeight($event)" class="min-h-[50vh]"></app-section-2022>
        </div>
    </div>
</div>