<div id="sidebare-current-section"
    class="flex flex-col items-end max-[1161px]:hidden  [&_span]:font-semibold min-h-[180px] [&_span]:text-text-inactive [&_span]:dark:border-gray">
    <div id="current-section-wrapper"
        class="flex flex-col items-start [&>div]:w-[120px] gap-[22px] [&_span]:text-[18px] [&_div]:cursor-pointer">
        @for (item of arrayNav; track $index) {
        <div [ngClass]="{ 'active-dm': item.name === activeSection && darkMode(), 'active' : item.name === activeSection}"
            (click)="scrollToPosition(item.name)">
            <span #spans>{{ item.lang[this.currentLang] }}</span>
            <div #under class="under-text"></div>
        </div>
        }
    </div>
</div>

<div id="current-section-wrapper-small-screen"
    class="dark:[&_span]:text-white [&_span]:text-text-gray flex flex-row gap-4 max-[660px]:hidden min-[1161px]:hidden [&_span]:cursor-pointer">
    @for (item of arrayNav; track $index) {
    <div [ngClass]="{ 'active-dm': item.name === activeSection && darkMode(), 'active' : item.name === activeSection}"
        (click)="scrollToPosition(item.name)">
        <span>{{ item.lang[this.currentLang] }}</span>
    </div>
    }
</div>

<div (click)="toggleNavbarMobile()" [class.rotate-navbar-icon]="navbaropen"
    class="hidden flex-row justify-center dark:[&_svg]:fill-white [&_svg]:fill-black max-[660px]:flex transition-transform duration-400">
    <svg width="48px" height="48px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z" />
    </svg>
</div>
<div #navbarmobile
    class="w-[85%] dp-n h-12 dark:bg-side-bar-dark text-[14px] max-[460px]:text-[10px] flex rounded-2xl border-1 border-border-gray  bg-side-bar-light flex-row justify-center absolute left-[50%] -translate-x-1/2 right-0 top-0 -z-15 opacity-0 items-center">
    <div
        class="dark:[&_span]:text-white w-full px-4 [&_span]:transition-[transform,font-weight] [&_span]:text-text-gray flex flex-row justify-between min-[1160px]:hidden [&_span]:cursor-pointer font-semibold">
        @for (item of arrayNav; track $index) {
        <div [ngClass]="{ 'active-dm': item.name === activeSection && darkMode(), 'active' : item.name === activeSection}"
            (click)="scrollToPosition(item.name)">
            <span>{{ item.lang[this.currentLang] }}</span>
        </div>
        }
    </div>
</div>