.footer-padding{
    padding-left: calc(50vw - var(--layout) / 2 + var(--sidebar));
    padding-right: calc(50vw - var(--layout) / 2);
}

.footer-inner-padding{
    padding-left: 64px;
    padding-right: 64px;
}

@media (max-width:420px) {
    .footer-inner-padding{
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 1482px) {
    .footer-padding{
        padding-right: 10px;
        padding-left: 282px;
    }
}

@media (max-width: 1140px) {
    .footer-padding{
        padding-left: 0;
    }
}
