<section class="footer-padding w-full h-[268px] bg-side-bar-light mt-[64px]">
    <div class="pt-[64px] flex flex-row justify-start">
        <main class="w-full flex flex-col pl-[64px] gap-[88px]">
            <div
                class="flex flex-row gap-[64px] [&_span]:text-text-gray [&_span]:text-[16px] [&_span]:font-semibold [&_span]:cursor-pointer [&_span]:hover:underline">
                <span>Send a Mail</span>
                <span>GitHub</span>
                <span>Instagram</span>
            </div>
            <div>
                <div>Made with 💚 by Anton Ivkin</div>
                <div class="w-full flex flex-row justify-end">
                    <div class="flex flex-row gap-1">
                        <span>Inspired by <a href="https://tania.dev/" target="_blank" class="underline">tania.dev</a></span><img src="/img/tania-logo.png" width="23"><span>[old]</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>